doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title CodeMash 2018 Debrief

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article.deck

      section.intro
        div.box
          h1 CodeMash 2018 Debrief
          p(style={'margin-bottom': 0}) Jan 9–12
          p Sandusky, Ohio

      section.intro

      section
        img(src="images/sandusky-oh.png", style={height: '100%'})
        p.caption Sandusky, Ohio

      section
        img(src='images/charleston-wv.jpg' style={width: '100%'})
        p.caption Charleston, WV

      section
        img(src='images/quality-food.jpg' style={height: '100%'})
        p.caption Quality Road Food

      section
        img(src='images/joe-hololens.jpg' style={height: '100%'})
        p.caption Joe tries out Hololens

      section
        img(src='images/codemash-budget.jpg' style={width: '100%'})

      section
        img(src='images/literal-slide.jpg' style={width: '100%'})

      section
        img(src='images/kidzmash.png', style={height: '100%'})

      section
        h2.bullet Also, I went to some talks
        ul.bullet
          li JSON Web Tokens Suck
          li GDPR
          li Re-usable React Components

      section
        h2 Also, I went to some talks
        ul
          li <strike>JSON Web Tokens Suck</strike>
          li GDPR
          li Re-usable React Components

      section
        img(src='images/gdpr.png', style={width:'100%'})
        p Talk by Sebastian Holst (<a href="https://twitter.com/ssholst">@ssholst</a>)

      section
        h2 GDPR
        ul
          li.bullet Affects anyone collecting PII on EU citizens
          li.bullet Comes into full effect May 2018
          li.bullet
            | Penalties go up to €20M or 4% of company revenue
            br
            | (Whichever is higher)

      section
        h2 Right to Be Forgotten

      section
        h2 Data Sovereignty

      section
        h2 State of the Art
        p.bullet New legal standard for security practices
        p.bullet Previously a company only had to satsify "reasonable" security practices

      section
        h2 Speculation:<br/>First to be prosecuted will be for breaches

      section
        h2 GDPR comments?

      section
        h2 Re-usable React Components
        img(src='images/cory-house.jpg').landscape
        p A talk by <a href="https://twitter.com/housecor">@housecor</a>

      section
        img(src='images/component-design-decisions.png', style={ width: '100%' })

      section
        img(src='images/rule-of-three.png').landscape

      section
        img(src='images/rigid-vs-flexible.png', style={ width: '90%' })

      section
        img(src='images/props-hard-to-remove.png').landscape

      section
        h2 Link, Wrap, or Fork 3rd-party components?

      section
        h2 Don't generate docs by hand

      section
        img(src='images/bluekit.png').portrait

      section
        h2 Approach 1: Named Import
        img(src='images/import-1.png', style={ width: '90%' })

      section
        h2 Approach 2: Import from <code>/lib</code>
        img(src='images/import-2.png', style={ width: '90%' })

      section
        h2 Approach 3: Import from Package Root
        img(src='images/import-3.png', style={ width: '90%' })

      section
        img(src='images/one-dependency.jpg', style={ width: '100%' })

      section
        p.bullet Slides at: <a href="http://www.codetinkerer.com/presentation-codemash-2018/">codetinkerer.com/presentation-codemash-2018/</a>
        h2.bullet Questions?


    script(src='build/build.js')
